<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Riffle</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="static/css/hh.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

<div class="container">
  <center>
    <figure>
      <img src="static/img/riffle.png" , style="padding-top: 25px; padding-bottom: 10px;">
      <figcaption><b>Digging Through Business Reviews So You Don't Have To</b></figcaption>
    </figure>
    <br>
    <form action="" method="post" role="form">
      {{ form.csrf }}
      <div class="form-group">
        <h4><b>Enter the Business ID:</h4></b>
        <input type="text" class="form-control" id="business" name="business"
               value="JyxHvtj-syke7m9rbza7mA" style="width:600px;">
      </div>
      <button type="submit" name="btn" class="btn btn-success"
              style="width: 200px;">Rate!

      </button>
    </form>
  </center>
</div>

</body>
</html>
