<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Riffle</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="static/css/hh.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<div class="container">
  <center>
    <figure>
      <img src="static/img/riffle.png", style="padding-top: 25px; padding-bottom: 10px;">
      <figcaption><b>Analyzing Reviews So You Don't Have To</b></figcaption>
    </figure>

    <br>
    <form action="" method="post" role="form">
      {{ form.csrf }}
        <h4><b>Las Vegas Businesses on Yelp</h4></b>
      <div class="form-group">
        <select name="business" id="business" class="form-control" style="width:600px;">
        {% for x in bus_names %}
        <option value="{{ x }}"{% if x == default_bus %} SELECTED{% endif %}>{{ x }}</option>
        {% endfor %}
        </select>
      </div>
      <button type="submit" name="btn" class="btn btn-success"
              style="width: 200px;">Rate!
      </button>
    </form>
    <br>

    <font size="4pt">
        <br>
      {% if vis <= 2 %}<div style="display:none">{% endif %}
      {% if vis > 2 %}<div>{% endif %}
        <table class="table table-bordered text-center table-sm" style="width: 80%;">
          <thead class="thead-default">
          <tr>
            <th class="text-center">Business Name</th>
            <th class="text-center align-middle">City</th>
            <th class="text-center align-middle">Country</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="align-middle"><b>{{data1['name']}}</b></td>
            <td class="align-middle">{{data1['city']}}</td>
            <td class="align-middle">{{data1['country']}}</td>
          </tr>
          <tr>
        <td class="align-middle">
          <b>Riffle Rating</b>
        </td>
        <td colspan="2" class="align-middle">
          <div class="progress">
            <div class="progress-bar red" role="progressbar" aria-valuenow={{data1['new_rating']}} aria-valuemin="0" aria-valuemax="100" style="width: {{data1['new_rating']}}%; height: 25px;">{{data1['new_rating']}}%</div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="align-middle">
          <b>Yelp Rating</b>
        </td>
        <td colspan="2" class="align-middle">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow={{data1['old_rating']}} aria-valuemin="0" aria-valuemax="100" style="width: {{data1['old_rating']}}%; height: 25px;">{{data1['old_rating']}}%</div>
          </div>
        </td>
      </tr>
          </tbody>
      </table>
    </div>

  <br>
      {% if vis <= 1 %}<div style="display:none">{% endif %}
      {% if vis > 1 %}<div>{% endif %}
        <table class="table table-bordered text-center table-sm mytable" style="width: 80%;">
          <thead class="thead-default">
          <tr>
            <th class="text-center" class="align-middle">Business Name</th>
            <th class="text-center" class="align-middle">City</th>
            <th class="text-center" class="align-middle">Country</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="align-middle"><b>{{data2['name']}}</b></td>
            <td class="align-middle">{{data2['city']}}</td>
            <td class="align-middle">{{data2['country']}}</td>
          </tr>
          <tr>
        <td class="align-middle">
          <b>Riffle Rating</b>
        </td>
        <td colspan="2" class="align-middle">
          <div class="progress">
            <div class="progress-bar red" role="progressbar" aria-valuenow={{data2['new_rating']}} aria-valuemin="0" aria-valuemax="100" style="width: {{data2['new_rating']}}%; height: 25px;">{{data2['new_rating']}}%</div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="align-middle">
          <b>Yelp Rating</b>
        </td>
        <td colspan="2" class="align-middle">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow={{data2['old_rating']}} aria-valuemin="0" aria-valuemax="100" style="width: {{data2['old_rating']}}%; height: 25px;">{{data2['old_rating']}}%</div>
          </div>
        </td>
      </tr>
          </tbody>
      </table>
    </div>

    </font>
  </center>
</div>

</body>
</html>
