<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
  <title>Riffle</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="static/css/hh.css">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>


<div class="container">
  <center>
    <figure>
      <img src="static/img/riffle.png" , style="padding-top: 25px; padding-bottom: 10px;">
      <figcaption><b>Digging Through Business Reviews So You Don't Have To</b></figcaption>
    </figure>

    <br>
    <form action="" method="post" role="form">
      {{ form.csrf }}
      <div class="form-group">
        <h4><b>Enter the Business ID:</h4></b>
        <input type="text" class="form-control" id="business" name="business"
               value="JyxHvtj-syke7m9rbza7mA" style="width:600px;">
      </div>
      <button type="submit" name="btn" class="btn btn-success"
              style="width: 200px;">Rate!
      </button>
    </form>
    <font size="4pt">
        <br>
        <table class="table table-bordered text-center table-sm" style="width: 80%;">
          <thead class="thead-default">
          <tr>
            <th class="text-center" class="align-middle">Business Name</th>
            <th class="text-center" class="align-middle">City</th>
            <th class="text-center" class="align-middle">Country</th>
          </tr>
          </thead>
          <tbody>
          <tr>
            <td class="align-middle"><b>{{data['name']}}</b></td>
            <td class="align-middle">{{data['city']}}</td>
            <td class="align-middle">{{data['country']}}</td>
          </tr>
          <tr>
        <td class="align-middle">
          <b>Riffle Rating</b>
        </td>
        <td colspan="2" class="align-middle">
          <div class="progress">
            <div class="progress-bar red" role="progressbar" aria-valuenow={{data['new_rating']}} aria-valuemin="0" aria-valuemax="100" style="width: {{data['new_rating']}}%; height: 25px;">{{data['new_rating']}}%</div>
          </div>
        </td>
      </tr>
      <tr>
        <td class="align-middle">
          <b>Yelp Rating</b>
        </td>
        <td colspan="2" class="align-middle">
          <div class="progress">
            <div class="progress-bar" role="progressbar" aria-valuenow={{data['old_rating']}} aria-valuemin="0" aria-valuemax="100" style="width: {{data['old_rating']}}%; height: 25px;">{{data['old_rating']}}%</div>
          </div>
        </td>
      </tr>
          </tbody>
      </table>
    </font>
  </center>
</div>




</body>
</html>
